@charset "UTF-8";
@media screen {

}

/* class style */

.clear {
    clear: both;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: 80%;
}

.child{

}

.flex-container {

    display: flex;
    
    justify-content: space-between; 
    align-items: stretch; 
    /* flex-flow: row nowrap; */ 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-content: flex-start;

    background-color: #fbfcfd;
    height: 100%;
    padding: 15px;
    gap: 5px;

  }

  .flex-container > div{
    background: #ffffff;
    border: 1px solid #040404;
    border-radius: 5px;
    padding: 8px;
  }


  .item1 {
    /* flex:1 1 auto; */
    flex-grow:1;
    align-self:auto;
  }



.article {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px;
    margin: 1px;
}

/* body style */

body {
    font-family: system-ui, 'Times New Roman', Times, serif;
    border: 0 px solid black;
}

div{
    margin-bottom: 10px;
    border: 0px solid black;
}

#page {
    background-color: rgb(250, 250, 250);
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

#header {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 0px;
    margin: 0px;

}

#content {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px;
    margin: 0px;
        /* flex:1 1 auto; */
        flex-grow:1;
        align-self:auto;

}


#aside {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px;
    margin: 1px;
}

#footer {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    height: 30px;
}

/* colors style */

/* fonts style */

h1 {
    color:rgb(2, 2, 2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 500;
}

h2{
    color:rgb(4, 4, 4);
}

a {
    display: inline;
}

a:link {
color: red;
}

a:visited {
    color: green;
}

#p2 {
    position: fixed;
    top: 20px;
    left: 250px;
    clear: left;
}


.input-div-main {
    float:left;
}

label {
    float:left;
    padding-right:10px;
}

.input-size {
    clear:both;
    text-align:left;
    line-height:25px;

    font-size: 10px;
    font-weight: 500;
    color: rgb(19, 19, 18);
}


.input-size2 {
    font-size: 10px;
    font-weight: 500;
    color: rgb(19, 19, 18);
}

p {
    font-size: 12px;
    font-weight: 500;
    color: rgb(2, 2, 2);
}

.p-h2 {
    font-size: 14px;
    font-weight: 700;
    color: rgb(21, 21, 21);
    margin-bottom: 20px;
}

.p-normal {
    font-size: 10px;
    font-weight: 500;
    color: rgb(19, 19, 18);
}

.p-small {
    font-size: 9px;
    font-weight: 500;
    color: rgb(136, 136, 134);
    margin-bottom: 20px;
}
.p-small-yel {
font-size: 9px;
font-style: normal;
color: rgb(243, 206, 23);
font-weight: 500;

}

.button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #ee9530;
    color: #000000;
    padding: 8px 16px;
    font-size: 12px;
    margin-bottom: 10px;
}